body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  color: #000000;
  line-height: 1.35;
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(AvenirNextLTPro-Bold.otf);
}
.wrapper {
  background-image: url(background.jpg);
  background-attachment: fixed;
  padding-top: 72px;
}
.container {
  background: #FFFFFF;
  margin: auto 10%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 1s;
}
header {
  background-color: black;
  color: white;
  opacity: 0.7;
}
.sticky img {
  display: block;
  margin: auto;
  padding: 1em;
}
nav ul {
  list-style: none;
}
nav li {
  color: white;
}
.nav-collapse a:hover {
  background: white;
  color: black;
  border-radius: 15px;
}
nav a, nav a:visited {
  color: white;
}
a {
  text-decoration: none;
}
section {
  padding: 1.5em 1em 0.5em 1em;
  border-color: black;
  border-width: medium;
  border-left-style: solid;
  border-right-style: solid;
}
#personal_data {
  padding-top: 1em;
}
#awards_portfolio {
  /*margin-bottom: 1em;*/
}
section h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 1em;
}
section img {
  float: right;
}
blockquote {
  border-left: 5px solid black;
  padding-left: 2em;
  margin: 0;
}

/*
section p {
  background-color: white;
  opacity: 0.95;
  border-radius: 16px;
  margin: 0 5%;
  padding: 10px 0;
}
section h2 {
  text-align: center;
  background-color: white;
  opacity: 0.975;
  border-radius: 50px;
  padding-bottom: 1em;
}
*/
#personal_data h2, #qualifications h2 {
    margin: 0 35%;
}
#certificates_courses h2, #awards_portfolio h2 {
    margin: 0 25%;
}
footer {
  opacity: 0.7;
}
footer p {
  background: black;
  text-align: center;
  width: 100%;
  padding:10px 0;
  color: white;
  margin: 0;
}
/*! responsive-nav.js 1.0.39 by @viljamis
*****************************************     */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-collapse li a {
  padding: .7em 0;
  display: block;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.nav-collapse li a:last-child {
  border-bottom: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
  width: 32px;
  height: 32px;
  background-color: black;
  opacity: 0.99;
  background-image: url('images/hamburger.png');
  float: right;
  margin-right: 6%;
  /* Hide menu text */
  text-indent: 110%;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-collapse ul {
    width: 88%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
  }
  .nav-collapse ul li a {
    border-bottom: none;
  }
}

/* Desktop styling
*******************************    */
@media screen and (min-width: 1200px) {
  nav {
    width: 100%;
  }
  .sticky img {
    margin: 0 0 0 1em;
    position: fixed;
  }
  .container {
    margin: auto 20%;
  }
  .wrapper {
    background-image: url(background.jpg);
    background-attachment: fixed;
    padding-top: 74px;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin: 1em 2em 1em 0em;
    font-weight: bold;
    text-align: center;
  }
  nav a {
    transition: .5s;
  }
  nav a:hover {
    background: white;
    color: black;
    border-radius: 15px;
  }
  section {
    padding-top: 2em;
  }
  section img {
    float: right;
  }
  #personal_data {
    padding-top: 1.5em;
  }
  /*section p {
    background-color: white;
    opacity: 0.965;
    border-radius: 16px;
    margin: 0 10%;
    padding: 10px 0;
  }
  section h2 {
    text-align: center;
    background-color: white;
    opacity: 0.965;
    border-radius: 50px;
    margin: 0 42%;
    padding: 0; */
  }
}
